Source: ppp-scripts
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.berlios.de/fullstory/ppp-scripts/trunk
XS-Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/ppp-scripts/trunk/

Package: ppp-scripts
Architecture: all
Depends: ppp
Description: PPP connection scripts for various providers
 Collection of ppp scripts.
